Repository nlebovits/datos-escala-humana: changes, and which pre-commit hooks are due for each by the changed paths.
All: lintquarto-ruff, lintquarto-vulture, nbqa-black, nbqa-isort

lintquarto-ruff:
  name: Lint Python in QMD (ruff)
  entry: uv run lintquarto -l ruff -p
  language: system
  pass_filenames: true

lintquarto-vulture:
  name: Check unused code in QMD (vulture)
  entry: uv run lintquarto -l vulture -p
  language: system
  pass_filenames: true

nbqa-black:
  name: nbqa-black
  entry: uv run nbqa black
  language: system

nbqa-isort:
  name: nbqa-isort
  entry: uv run nbqa isort
  language: system

fix lfs issue in CI
  .github/workflows/ci.yml
  .github/workflows/quarto-publish.yml
Due: none

push draft updates
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

updates to open data chapter
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

fix missing import
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

fix missing var
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

open data chapter updates
  en/open-data/open-data.qmd
  public/open-data/Screenshot 2026-03-25 at 15-32-34 Building Demolitions - OpenDataPhilly.png
Due: lintquarto-ruff, lintquarto-vulture

rerender
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update
  en/data-action/data-action.qmd
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

cleanup
  .claude/agents/climate-risk-expert.md
  .claude/agents/content-reviewer.md
  .claude/agents/eng-copyeditor.md
  .claude/agents/es-to-eng-translator.md
  .claude/agents/open-data-reviewer.md
  .claude/agents/pygis-instructor.md
  .claude/agents/quarto-formatter.md
  .claude/agents/rdm-expert.md
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  .panache.toml
  .pre-commit-config.yaml
  README.md
  en/climate-risk/climate-risk.qmd
  en/cookbooks/renabap.ipynb
  en/data-action/data-action.qmd
  en/intro.qmd
  en/open-data/open-data.qmd
  en/python-geospatial/python-geospatial.qmd
  es/cookbooks/la-plata.ipynb
  es/datos-abiertos/datos-abiertos.qmd
  es/datos-accion/datos-accion.qmd
  es/intro.qmd
  es/python-geoespacial/python-geoespacial.qmd
  es/riesgo-climatico/riesgo-climatico.qmd
  project/DECISIONS.md
  project/ROADMAP.md
  public/open-data/what-is-the-cloud.webp
  pyproject.toml
  uv.lock
Due: lintquarto-ruff, lintquarto-vulture, nbqa-black, nbqa-isort

remove flake8 config
  .flake8
Due: none

fix photo rendering
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update esri section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update wfs/wms section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update initial api section
  en/open-data/open-data.qmd
  public/open-data/api-3284935437.png
Due: lintquarto-ruff, lintquarto-vulture

update flat files section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update data portals section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update cloud-native section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update why use open data section
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

update data quality section
  en/open-data/open-data.qmd
  public/open-data/Screenshot 2026-04-09 at 14-54-08 Global Land Cover Maps’ Accuracy and Applications Explained.png
Due: lintquarto-ruff, lintquarto-vulture

smaller tweaks
  en/open-data/open-data.qmd
Due: lintquarto-ruff, lintquarto-vulture

Add citations and image sources to open data chapter
  en/open-data/open-data.qmd
  references.bib
Due: lintquarto-ruff, lintquarto-vulture

new draft of chapt 3
  en/climate-risk/climate-risk-new.qmd
  en/climate-risk/climate-risk.qmd
Due: lintquarto-ruff, lintquarto-vulture

newest draft of chapt 3
  en/climate-risk/climate-risk-draft.html
  en/climate-risk/climate-risk-draft.qmd
  en/climate-risk/climate-risk-draft_files/figure-html/cell-11-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-13-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-14-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-16-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-19-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-21-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-5-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-7-output-1.png
  en/climate-risk/climate-risk-draft_files/figure-html/cell-9-output-1.png
  en/climate-risk/climate-risk-draft_files/libs/bootstrap/bootstrap-icons.css
  en/climate-risk/climate-risk-draft_files/libs/bootstrap/bootstrap-icons.woff
  en/climate-risk/climate-risk-draft_files/libs/bootstrap/bootstrap.min.css
  en/climate-risk/climate-risk-draft_files/libs/bootstrap/bootstrap.min.js
  en/climate-risk/climate-risk-draft_files/libs/clipboard/clipboard.min.js
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/anchor.min.js
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/popper.min.js
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/quarto-syntax-highlighting.css
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/quarto.js
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/tippy.css
  en/climate-risk/climate-risk-draft_files/libs/quarto-html/tippy.umd.min.js
  en/climate-risk/climate-risk-new.qmd
Due: lintquarto-ruff, lintquarto-vulture

check in drafts
  .gitignore
  en/cookbooks/esperanza.ipynb
  en/cookbooks/pergamino.ipynb
  en/cookbooks/pergamino.qmd
  en/data-action/data-action.qmd
Due: lintquarto-ruff, lintquarto-vulture, nbqa-black, nbqa-isort

full draft of pergmaino cookbook
  .gitignore
  en/cookbooks/pergamino.ipynb
  en/cookbooks/pergamino.qmd
Due: lintquarto-ruff, lintquarto-vulture, nbqa-black, nbqa-isort

fix quarto yml
  _quarto-en.yml
Due: none

draft of esperanza cookbook
  en/cookbooks/esperanza.ipynb
Due: nbqa-black, nbqa-isort

add clean la plata cookbook
  .github/workflows/check-data-urls.yml
  _quarto-en.yml
  en/cookbooks/la-plata.ipynb
  en/cookbooks/la-plata.qmd
  en/cookbooks/renabap.ipynb
  en/open-data/open-data.qmd
  pyproject.toml
  references.bib
  uv.lock
Due: lintquarto-ruff, lintquarto-vulture, nbqa-black, nbqa-isort

strip out inline expressions
  en/cookbooks/la-plata.ipynb
Due: nbqa-black, nbqa-isort

actually render
  en/cookbooks/la-plata.ipynb
Due: nbqa-black, nbqa-isort

prune villa del rosario english cookbook
  _quarto-en.yml
  en/cookbooks/villa-del-rosario.ipynb
Due: nbqa-black, nbqa-isort

Path conditions:
  lintquarto-ruff: any of: \.qmd$
  lintquarto-vulture: any of: \.qmd$
  nbqa-black: any of: \.ipynb$
  nbqa-isort: any of: \.ipynb$
